SEPOLIA_RPC_URL=https://YOUR_SEPOLIA_RPC
DEPLOYER_PRIVATE_KEY=0xTESTNET_DEPLOYER_PRIVATE_KEY
RELAYER_PRIVATE_KEY=0xTESTNET_RELAYER_PRIVATE_KEY
KYC_SIGNER_PRIVATE_KEY=0xTESTNET_KYC_SIGNER_PRIVATE_KEY
WALLET_MASTER_KEY=CHANGE_ME_TO_A_RANDOM_64_CHAR_SECRET
JRWA_TOKEN_NAME=Jade Real World Asset
JRWA_TOKEN_SYMBOL=JRWA
JRWA_DECIMALS=8
JRWA_FIXED_TOTAL_SUPPLY=1000000000
JRWA_DEPLOYMENT_SALT=JRWA-1B-V14
JRWA_REQUIRED_KYC_CLAIM_TOPIC=1
DEFAULT_COUNTRY_CODE=410
SUITE_OWNER_ADDRESS=
CONTROLLER_OWNER_ADDRESS=
MIN_MEMBER_GAS_ETH=0.0005
GAS_TOPUP_ETH=0.0015
ALLOW_NON_SEPOLIA=0
